<!DOCTYPE >
<html>
	<head>
		<title>IIITEats</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="../static/css/footer.css" />
		<meta http-equiv="Cache-Control" content="no-cache" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
	</head>
	<body>
		<footer class="footer">
            <div class="footer-main">
              <div class="footer-section footer-section1">
                <img class="footer-logo" src="../static/assets/random.jpeg" />
                <p class="footer-tagline">Getting food is noe LITE!</p>
              </div>
      
              <div class="footer-section">
                <p class="footer-section-mid-item">
                  <a href="index">Home Page</a>
                </p>
                <p class="footer-section-mid-item">
                  <a href="order-tracking">Your Orders</a>
                </p>
                <p class="footer-section-mid-item">
                  <a href="delivery-details">Your Deliveries</a>
                </p>
              </div>
      
              <div class="footer-section">
                <p class="footer-section-mid-item">
                  <a href="tnc">Terms and conditions</a>
                </p>
                <p class="footer-section-mid-item">
                  <a href="privacy">Privacy Policy</a>
                </p>
                <p class="footer-section-mid-item">
                  <a href="cookie">Cookie Policy</a>
                </p>
              </div>
      
              <div class="footer-section footer-section4">
                <div class="footer-section4-text">
                  <p class="footer-section4-title">Let us know your thoughts!</p>
                  <p class="footer-section4-contact">
                    <a href="mailto://hello@imelody.com">hello@iiiteats.com</a>
                  </p>
                </div>
                <div class="footer-socials">
                  <a href="https://facebook.com/iiiteats" target="_blank">
                    <img
                      class="footer-socials-item"
                      src="../static/assets/social-fb.png"
                    />
                  </a>
                  <a href="https://instagram.com/iiiteats" target="_blank">
                    <img
                      class="footer-socials-item"
                      src="../static/assets/social-ig.png"
                    />
                  </a>
                  <a href="https://twitter.com/iiiteats" target="_blank">
                    <img
                      class="footer-socials-item"
                      src="../static/assets/social-twitter.png"
                    />
                  </a>
                </div>
              </div>
            </div>
      
            <div class="footer-copyright">
              <p>© 2023 IIITEats. All rights reserved.</p>
            </div>
          </footer>
	</body>
</html>
